
.nav {
background-color: #333;
padding: 20px;
width: 100%;
font-family: 'Poppins', sans-serif;
font-size: 20px;
}

.nav a {
color: #fff;
text-decoration: none;
margin: 0 10px;

}

.nav a:hover {
color: #ccc;
}


