.image-container {
    height: 635px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container-image {
    height: 100%;
    width: 100%;
    object-fit: none;
    object-position: center;
}

.big-image {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.big-image:hover {
    cursor: pointer
}

.agent-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.agent-image {
    border-radius: 50%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    aspect-ratio: 1/1;
}

.agent-name {
    font-weight: bolder;
}
.agent-number {
    margin: 0px;
}

.agent-title {
    font-weight: bolder;
}