@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");


.bg-box {
    position: flex;
  
  
    width: 100%;
    height: 100%;
}
.bg-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right : 25%;
}

.search-container {
  position: absolute;
  bottom: 20px;
  
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
}

.agents-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.agent {
  background-color: #d6bfb5;
  border: 1px solid #000000;
  margin-top: 10vh;
  margin-bottom: 5vh; 
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  width: 100%;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  
}

.agent:hover {
  background-color: #c7a597;

}

.agent-pfp {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.agent-info {
  flex: 1;
}

.agent-info h3 {
  margin: 0 0 5px 0;
  font-family: 'Poppins', sans-serif;
}

.agent-info p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.agents-background{
  background-color: rgba(34, 47, 42, 255);
}